@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100;300;400&display=swap');

/* Cores textos*/
$text-color-blue: #111739;
$text-color-purple: #828DD9;
$text-color-gray-1: #97989A;


$tr-color-1: #F7F6FE;

/* Cores background*/
$bg-color-1: #f6f6f9;
$color-gray-default: #E4E4E5;
$bg-color: #EDEDED;
$bg-color-1: #FBFBFB;
$bg-color-white: #fff;
$bg-color-purple-login: #F0EEF8;
$bg-color-purple-transparent: rgba(130, 141, 217, 0.35);

/* Cores itens */
$color-icon-item: #ACACAC;
$color-light: rgba(132,139,200,0.18);
$color-red-danger: #ef233c;
$color-green-success: #7ae582;
$color-gray: #A8A8AA;

$card-border-radius: 2rem;
$border-radius-1: 0.4rem;
$border-radius-2: 0.8rem;
$border-radius-3: 1.2rem;

$card-padding: 1.8rem;
$padding-1: 1.2rem;

$box-shadow: 0 2rem 3rem $color-light;
/* Fontes */

$font-primary: 'Poppins', sans-serif;
